:root {
    --background-color: #232946;
    --white: #FFFFFE;
    --pink: #EEBBC3;
    --yellow: #F1E510;
    --red: #E3386A;
  }
  
  html {
    background-color: var(--background-color);
    
  }

  @font-face {
    font-family: "boorsok";
    src: url("../fonts/borsok-font/boorsok.ttf");
  }

  #artist-head {
    display: grid;
    justify-items: center;
  }

  h1 {
    font-family: boorsok;
    color: var(--white);
    font-size: auto;
  }

  #request-code {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--white);
  }

  h2 {
      font-family: boorsok;
      color: var(--white);
      font-size: 11vw;
  }

 #table {
     display: grid;
     justify-items: center;
 }

 table {
     width: 100vw;
 }


  th {
      text-align: center;
      color: var(--background-color);
      font-family: 'Poppins', sans-serif;
      font-weight: bold;
      background-color: var(--pink);
      font-size: auto;
  }

  td {
    text-align: center;
    color: var(--background-color);
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    font-size: auto;
  }

  table, th, td {
      border: 0.5vh solid var(--background-color);
      border-collapse: collapse;
  }

  th, td {
      padding: 0.5em;
  }
  
  #delete-button {
     height: 7vh;
     max-width: auto;
     
  }

  #delete-all-btn {
    display: grid;
    justify-items: center;
  }

  #delete-all {
    background-color: var(--red);
    border: none;
    margin-top: 20%;
    padding: 2%;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vw;
  }