:root {
  --background-color: #232946;
  --white: #fffffe;
  --pink: #eebbc3;
  --yellow: #f1e510;
  --light-blue: #b8c1ec;
}

html {
  background-color: var(--background-color);
}

@font-face {
  font-family: "boorsok";
  src: url("../fonts/borsok-font/boorsok.ttf");
}

h1 {
  font-family: boorsok;
  color: var(--white);
  display: flex;
  justify-content: center;
  font-size: 20vw;
  margin-top: 7%;
}

img {
  display: flex;
  justify-content: center;
  max-width: 60%;
  max-height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10%;
}

input {
  height: 85%;
  border-radius: 50px;
  margin-bottom: 0%;
  border-width: 0px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 110%;
  color: var(--background-color);
  background-color: var(--light-blue);
}

::placeholder {
  color: var(--background-color);
  opacity: 1;
}

#submit-btn {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

#submit {
  background-color: var(--yellow);
  width: 50vw;
  height: 7vh;
  border-radius: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: var(--background-color);
  font-size: 110%;
  border-width: 0px;
}

a {
  text-decoration: none;
  color: var(--white);
  font-family: "Poppins", sans-serif;
}

.user-input {
  height: 40vh;
  display: grid;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -8%;
}

#request-code {
  background-color: var(--pink);
}

.login {
  margin-top: 10%;
  display: grid;
  justify-content: center;
  text-align: center;
}

#artist-login {
  font-weight: bold;
  font-size: 10vw;
  margin-bottom: 10%;
}

footer {
  background-color: var(--light-blue);
  width: 100wv;
  margin-bottom: 0px;
  margin-top: 10%;
  display: grid;
  justify-items: center;
  margin-left: 0px;
  margin-right: 0px;
  border-color: var(--light-blue);
}

@media (min-width: 800px) {
  html {
    margin-left: 20%;
    margin-right: 20%;
  }
  img {
    width: 15vw;
    max-height: auto;
  }
  h1 {
    font-size: 10vw;
  }
  #artist-login {
    font-size: 5vw;
    margin-top: -10%;
  }
}
